* {
  background-color: gainsboro;
  margin: 10px;
  padding: 5px;
  font-family: "Arial";
}
body {
  background-color: gainsboro;
  margin: 0;
  margin-top: 0;
}
h1 {
  text-align: center;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 15%;
  border-radius: 10%;
}

.pictures {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.container {
  display: flex;
  height: 300px;
  flex-direction: row;
}

.container .img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  border-radius: 50px;
}

.techstack {
  display: flex;
  justify-content: center;
}

.techstack-text {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.eins {
  padding: 10px 20px;
  margin: auto;
}

.zwei {
  padding: 10px 20px;
  margin: auto;
}

.drei {
  padding: 10px 20px;
  margin: auto;
}

.vier {
  padding: 10px 20px;
  margin: auto;
}

.footer {
  display: flex;
  justify-content: center;
}

.copyright {
  display: flex;
  justify-content: center;
}
